img {
    max-width: 100%;
}

* {
    outline: none !important;
}

a, button {
    cursor: pointer;
    transition: .5s;
}

a {
    color: #fff;
}

a:hover {
    color: #ffcc00;
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 0;
    font-size: 18px;
}

/*header*/

.header-r {
    display: flex;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

header {
    color: #fff;
    background: no-repeat left/20% url(../images/header-pattern.png), rgba(50, 146, 11, .9) no-repeat right/20% url(../images/header-pattern.png);
    box-shadow: 0 0 10px 3px rgba(104, 171, 77, 0.5);
    padding: 7px 0;
    z-index: 2;
}

.navbar {
    padding: 0;
}

ul.nav.navbar-nav li {
    margin: 0 15px;
}

ul.nav.navbar-nav li a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-brand {
    margin-right: 35px;
}

.operating-time p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: normal;
}

.header-phone {
    margin-right: 80px;
}

.header-phone p {
    margin-bottom: 0;
    font-weight: bold;
}

.header-phone p:hover {
    color: #ffcc00;
}

.header-phone p img {
    width: 35px;
    margin-right: 10px;
}

.header-phone p span {
    position: relative;
    bottom: -3px;
}

.header-r {
    display: flex;
    align-items: center;
}

/*banner*/

section.banner-section {
    background: #fafafa url("../images/cover.png") no-repeat center/cover;
    background-color: #fafafa;
    min-height: 700px;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
}

section.banner-section .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    z-index: 1;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

h1 span {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 25px;
    display: block;
}

ul.list-tick {
    margin-top: 40px;
    list-style: none;
    padding-left: 0;
    font-size: 24px;
}

ul.list-tick li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 60px;
}

ul.list-tick li:after {
    position: absolute;
    content: "";
    background: url(../images/tick.png) no-repeat center;
    background-size: 35px;
    width: 44px;
    height: 44px;
    left: 0;
    top: -4px;
}

.green-form {
    background: url("../images/form-bac.jpg") no-repeat center/cover;
    padding: 20px 35px 30px 35px;
    box-shadow: 0 5px 12px 4px rgba(47, 125, 15, .4);
}

.green-form h3 {
    font-weight: bold;
    font-size: 18px;
    color: #fefae0;
    text-align: center;
    margin-bottom: 12px;
}

.green-form p {
    font-size: 16px;
    color: #fefae0;
    text-align: center;
    margin-bottom: 20px;
    line-height: normal;
}

.input-wrapper {
    max-width: 210px;
    margin: auto auto 30px;
}

.input-wrapper input {
    width: 100%;
    padding: 5px 10px 5px 50px;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
}

.input-wrapper input.order {
    padding: 5px 10px 5px 5px;
}

.input-phone {
    position: relative;
}

.input-phone:after {
    position: absolute;
    content: "";
    left: 10px;
    top: 9px;
    background: url(../images/phone-gray.png) no-repeat;
    width: 18px;
    height: 18px;
}

.yellow-button {
    background: linear-gradient(#fff64f, #fff53f, #fff429, #fff314, #fff53d);
    border: 0;
    font-weight: bold;
    color: #051300 !important;
    text-decoration: none !important;
    padding: 12px 42px;
    border-radius: 6px;
    box-shadow: 0 3px 0 0 #ffcc00, 0 5px 15px 0 #ffcc00;
    position: relative;
    transition: .5s;
	cursor: pointer;
}

.yellow-button:hover {
    box-shadow: 0 3px 0 0 #ffcc00;
}

.yellow-button:after {
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    content: "";
    box-shadow: 0 5px 9px 2px #ffcc00;
    height: 6px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.yellow-button:hover:after {
    opacity: 1;
}

.yellow-button:active {
    box-shadow: none;
}

.yellow-button:active:after {
    opacity: 0;
}

form.green-form .yellow-button {
    margin: auto;
    display: table;
}

/*service*/

.services-form {
	border: 3px solid #32920b;
}

.second-service {
    display: none;
    width: 100%;
}

.services-bottom {
    display: none;
}

h2.h2-tm {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.services-section h5 {
    font-size: 17px;
    color: #848484;
    margin-bottom: 45px;
    text-align: center;
}


section.services-section {
    padding-top: 55px;
    padding-bottom: 60px;
    overflow: hidden;
}

.services-block {
    color: #32920b;
    border: 4px solid #32920b;
    font-size: 17px;
    padding: 20px 15px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    cursor: pointer;
    transition: .5s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	position: relative;
}

.services-block:hover, .services-block.active {
    border-color: #ffcc00;
}

.first-service .services-block {
    text-overflow: unset;
    white-space: normal;
    overflow: visible;
    font-size: 20px;
    text-align: left;
    background-color: #fff;
    background-repeat: no-repeat;
    height: 250px;
    background-position: 100% 100%;
}

.services-block span {
	position: relative;
	top: -6px;
}

.services-top .row {
    margin: 0 -15px;
}

.services-top .row > * {
    padding: 0 15px;
}

.services-top {
    margin-bottom: 15px;
}

.col-md-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
}

.services-bottom h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.services-bottom h3 a {
    font-size: 0.9rem;
    color: #696969;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    top: -2px;
}

.services-bottom-block {
    min-height: 180px;
    margin-bottom: 25px;
    padding: 15px 15px 15px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
}

.services-bottom-block-1 {
    background: url("../images/repair/repair-1.jpg") no-repeat bottom right, #fff;
}

.services-bottom-block-2 {
    background: url("../images/repair/repair-2.jpg") no-repeat top left, #fff;
}

.services-bottom-block-3 {
    background: url("../images/repair/repair-3.jpg") no-repeat bottom left, #fff;
}

.services-bottom-block-4 {
    background: url("../images/repair/repair-4.jpg") no-repeat bottom right, #fff;
}

.services-bottom-block-5 {
    background: url("../images/repair/repair-5.jpg") no-repeat bottom right, #fff;
}

.services-bottom-block-6 {
    background: url("../images/repair/repair-6.jpg") no-repeat top right, #fff;
}

.services-bottom-block-7 {
    background: url("../images/repair/repair-7.jpg") no-repeat bottom right, #fff;
}

.services-bottom-block-8 {
    background: url("../images/repair/repair-8.jpg") no-repeat bottom right, #fff;
}

.services-bottom-block-9 {
    background: url("../images/repair/repair-9.jpg") no-repeat bottom left, #fff;
}

.services-bottom-block-10 {
    background: url("../images/repair/repair-10.jpg") no-repeat bottom right, #fff;
}

.services-bottom-block-2 p {
    margin-top: 80px;
}

.services-bottom-block-3 p {
    text-align: right;
}

.services-bottom-block-6 p {
    margin-top: 80px;
}

.services-bottom-block-9 p {
    text-align: right;

}

.services-bottom-block-10 p {

}

.services-bottom-2 {
    margin-bottom: 25px;
}

.services-bottom .yellow-button {
    margin: auto;
}

.services-bottom .yellow-button {
    margin: auto;
    display: table;
}

/*?? ?????? ??????? ?? ???????*/

section.green-section h2 {
    color: #fffefc;
    margin-bottom: 35px;
}

section.green-section {
    background: url("../images/green-bac.jpg") center;
    padding-top: 55px;
    padding-bottom: 50px;
}

.contacts-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks-mb a {
    text-decoration: none !important;
    margin: 0 5px;
}

.social-networks-mb a img {
    transition: .5s;
}

.social-networks-mb a:hover img {
    -webkit-filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .2));
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .2));
}

.contacts-top .social-networks-mb {
    padding-right: 30px;
}

.contacts-top-r p {
    color: #fffefc;
    margin-bottom: 0;
    line-height: normal;
}

.contacts-top-r {
    padding-left: 30px;
}

/*about us*/

section.autorization {
    padding-top: 50px;
    background: #fafafa;
    padding-bottom: 40px;

}

.about-us-2 {
	height: 315px;
    text-align: center;
    padding-top: 76px;
}
.owl-carousel .owl-item img {
    display: inline-block;
}
.owl-stage {
    display: flex;
    align-items: center;
}
.owl-carousel2 .owl-item{
    height:auto;
    padding:0 17px 0 15px;
}

h2.h2-small {
    text-align: center;
    margin-bottom: 45px;
    font-size: 30px;
}

section.about-us-section-2 {
    padding: 45px 0 40px 0;
	background: #fafafa url(../images/cover-about-us.png) no-repeat center/cover;
    background-color: #fafafa;
}

.about-us-block h3 {
    color: #318E0D;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0;
}

.about-us-block p {
    line-height: normal;
}

p.large-about-us-p {
    font-size: 24px;
    font-weight: bold;
    line-height: 110%;
    text-transform: uppercase;
}

.about-us-block-green {
    background: url("../images/green-bac2.png");
    color: #fff;
    text-align: center;
    padding: 35px 50px 30px 50px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .2);
}

.about-us-4 h3 {
    font-weight: bold;
    font-size: 72px;
    line-height: 75%;
    text-transform: uppercase;
    margin-bottom: 0;
}

.about-us-4 h3 span {
    font-size: 36px;
    display: block;
}

.about-us-4 p {
    line-height: normal;
}

.about-us-4 {
    margin-top: -115px;
}

.about-us-3 {
    text-align: center;
    margin-top: -75px;
}

.about-us-5 {
    padding-top: 30px;
    margin-left: -20px;
}

/*advantages*/

section.advantages-section {
    padding: 45px 0 30px 0;
    background: #fbfbfb;
}

.advantages-block {
    text-align: center;
}

.advantages-block-img {
    height: 170px;
}

.advantages-block h3 {
    font-weight: bold;
    font-size: 24px;
}

.advantages-block p {
    line-height: normal;
}

/*discount*/

.discount-l-top p:nth-child(1) {
    line-height: 1;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 0;
}

.discount-l-top p:nth-child(2) {
    font-weight: bold;
    font-size: 170px;
    margin-bottom: 0;
    color: #32920b;
    line-height: 60%;
}

.discount-l-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.discount-l-bottom p {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 50px;
}

.discount-l-bottom .yellow-button {
    display: table;
    margin: auto;
}

.discount-r {
    padding-top: 30px;
}

section.discount-section {
    padding: 50px 0;
}

/*works*/

section.work-section {
    padding: 50px 0;
    background: #fbfbfb;
}

.slider-wrapper {
    max-width: 900px;
    margin: auto;
    position: relative;
}

.work-img {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #c6c6c6;
    width: 90%;
    margin: 10px auto;
}

.owl-carousel1 .owl-nav button.owl-prev span, .owl-carousel2 .owl-nav button.owl-prev span, 
.owl-carousel1 .owl-nav button.owl-next span, .owl-carousel2 .owl-nav button.owl-next span,
.owl-carousel1 .owl-nav button.owl-prev span:hover, .owl-carousel2 .owl-nav button.owl-prev span:hover, 
.owl-carousel1 .owl-nav button.owl-next span:hover, .owl-carousel2 .owl-nav button.owl-next span:hover {
    display: none;
}

.owl-carousel1 .owl-nav button.owl-prev:hover, .owl-carousel1 .owl-nav button.owl-prev,
.owl-carousel2 .owl-nav button.owl-prev:hover, .owl-carousel2 .owl-nav button.owl-prev  {
    background: url("../images/arrow-green-left.png");
    width: 40px;
    height: 40px;
    left: -70px;
    position: absolute;
    top: calc(50% - 20px);
    border-radius: 20px;
}

.owl-carousel1 .owl-nav button.owl-next:hover, .owl-carousel1 .owl-nav button.owl-next,
.owl-carousel2 .owl-nav button.owl-next:hover, .owl-carousel2 .owl-nav button.owl-next {
    top: calc(50% - 20px);
    background: url("../images/arrow-green-right.png");
    right: -70px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.owl-carousel1 .owl-nav button.owl-prev:hover, .owl-carousel1 .owl-nav button.owl-next:hover
.owl-carousel2 .owl-nav button.owl-prev:hover, .owl-carousel2 .owl-nav button.owl-next:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
}

/*rating*/

.reviews-section {
    padding: 3rem 0;
}

.reviews-section .logo-service {
    width: 20%;
}

.reviews-section h5 {
    font-weight: bold;
    margin-top: 1rem;
}

.reviews-section .stars {
    display: inline-block;
    position: relative;
    background: url(../images/stars.png) no-repeat;
    background-size: 158px;
    width: 158px;
    height: 25px;
}

.reviews-section .rating {
    font-weight: bold;
    font-size: 2rem;
}

.reviews-section .stars .full {
    background: url(../images/stars-full.png) no-repeat;
    background-size: 158px;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
}

.reviews-section a {
    color: #212529;
    width: 100%;
}

.reviews-section a:hover {
    color: #32920b;
}

/*contacts*/

.contact-block {
    display: flex;
}

.contact-block-l {
    width: 60px;
}

.contact-block-r {
    width: calc(100% - 60px);
}

p.contact-large-p {
    line-height: normal;
    margin: 0;
    position: relative;
    bottom: -7px;
    font-weight: bold;
    font-size: 21px;
}

.contact-section-top {
    margin-bottom: 50px;
}

.contact-section-bottom p {
    font-size: 16px;
    line-height: normal;
}

p.bold-p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 7px;
}

.contact-section-bottom-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

section.contact-section {
    padding-bottom: 55px;
    padding-top: 50px;
    background: #ffffff;
}

.map {
    border: 3px solid #ffcc00;
}

/*footer*/

footer {
    background: url("../images/header.jpg") center/cover no-repeat;
    padding: 18px 0;
}

footer p {
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
}

footer .social-networks-mb a {
    width: 39px;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
}

footer .social-networks-mb {
    display: block;
    text-align: center;
}

a.avtess {
    transition: .5s;
}

a.avtess:hover img {
    -webkit-filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .2));
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .2));
}

.navbar-toggler {
    display: none
}

.contact-block-header {
    display: none;
}

.second-service-owl {
    display: none !important;
}

.services-owl .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.no-desktop2, .no-desktop {
    display: none;
}

.thanks {
	padding: 30px 35px;
}

.thanks h3 {
	font-size: 30px;
}

.thanks p {
	font-size: 20px;
}

button.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-form {
    background: #fff !important;
}

.modal-form h3 {
    color: #071700;
}

.modal-form p {
    color: #071700;
    margin-bottom: 10px;
}

.modal-form .input-wrapper input {
    border: 1px solid #dfdedd;
    background: #f8f8f8;
}

.checkbox-wrapper {
    display: flex;
    margin-bottom: 15px;
}

.checkbox-wrapper label {
    color: #A7A8A3;
    font-size: 14px;
    width: calc(100% - 29px);
    line-height: normal;
}

.checkbox-wrapper label a {
    color: #A7A8A3;
    text-decoration: underline;
}

.checkbox-wrapper label a:hover {
    text-decoration: none;
}

.checkbox-wrapper input {
    margin-top: 4px;
    margin-right: 11px;
    width: 18px;
    height: 18px;
}

.modal-form .input-wrapper {
    margin-bottom: 15px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .about-us-4 h3 {
        font-size: 45px;
        line-height: 100%;
    }
    .about-us-4 h3 span {
        font-size: 19px;
    }
}

@media screen and (max-width: 1199px) {
    header {
        background-size: 30%, 30%;
    }

    .header-phone p {
        font-size: 16px;
    }

    .navbar-brand {
        margin-right: 10px;
    }

    .header-phone {
        margin-right: 20px;
    }

    section.green-section {
        background-size: cover;
    }

    .services-bottom-block {
        min-height: 220px;
    }

    .services-top .row {
        margin: 0 -15px;
    }

    .services-top .row > * {
        padding: 0 15px;
    }

}

@media screen and (max-width: 991px) {
    section.banner-section {
        background-size: cover;
        min-height: 800px;
        padding-bottom: 1rem;
    }
    .col-md-20 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .services-bottom-block {
        min-height: 150px;
    }

    .about-us-4 {
        margin-top: 0;
        padding: 35px 45px 25px 45px;
        background-size: cover;
    }

    .about-us-3 {
        margin-top: 0;
        padding-top: 30px;
    }

    .contact-block {
        margin-bottom: 15px;
    }

    .navbar-toggler {
        display: block;
        padding: 0;
    }

    span.icon-bar {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        margin: 6px 0;
        background: #fff;
    }

    header .navbar-collapse {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        background-color: #fff;
        overflow-x: hidden;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        text-align: center;
    }

    header .navbar-collapse.collapsing {
        transition: 0ms;
    }

    ul.nav.navbar-nav {
        width: 100%;
    }

    ul.nav.navbar-nav li a {
        color: #000;
        font-size: 24px;
        padding: 12px;
        border-top: 1px solid #dfdfdf;
        display: block;
        text-decoration: none !important;
        text-align: center;
    }

    ul.nav.navbar-nav li:nth-last-child(1) a {
        border-bottom: 1px solid #dfdfdf;

    }


    ul.nav.navbar-nav li {
        margin: 0;
    }

    .contact-block-header {
        display: block;
        color: #000;
    }

    .contact-block-header {
        display: flex;
        color: #000;
        width: 250px;
        margin: auto;
    }

    .contact-block-header-wrapper {
        padding: 24px 0 50px 0;
    }

    .contact-block-header img {
        width: 30px;
    }

    .contact-block-header .contact-block-l {
        width: 40px;
    }

    .contact-block-header p {
        font-size: 16px;
    }

    footer .social-networks-mb a {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 767px) {
    header {
        background: rgb(30, 100, 2) no-repeat center/100% url(../images/header-pattern.png);
    }
    .operating-time, .header-phone p span {
        display: none;
    }

    .header-phone p img {
        margin-right: 10px;
        width: 50px;
    }

    h1 {
        margin-bottom: 0;
    }

    ul.list-tick {
        font-size: 20px;
    }

    ul.list-tick li:after {
        width: 36px;
        height: 36px;
        background-size: cover;
    }

    ul.list-tick li {
        padding-left: 47px;
    }

    .services-block {
        max-width: 250px;
        margin: auto auto 15px;
    }

    .owl-mobil1-wrapper.d-block {
        display: block !important;
    }

    .no-767 {
        display: none !important;
    }

    .owl-mobil1-dots .owl-dots .owl-dot {
        margin: 0 3px;
    }

    .owl-mobil1-dots .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 0;
    }

    .owl-mobil1-dots .owl-dots .owl-dot.active span {
        width: 15px;
        height: 15px;
    }

    .owl-mobil1-dots .owl-dots {
        align-items: center;
        display: flex;
        justify-content: center;
    }


    .owl-mobil1-wrapper {
        margin-bottom: 30px;
    }

    .services-bottom > p, .services-bottom h3 {
        text-align: center;
    }

    .contacts-top .social-networks-mb {
        padding-right: 0;
        border-right: 0;
    }

    .contacts-top-r {
        padding-left: 0;
    }

    .contacts-top {
        flex-flow: column;
    }

    .contacts-top .social-networks-mb {
        margin-bottom: 25px;
    }

    section.green-section {
        background-position-x: left;
    }

    h2.h2-small {
        font-size: 24px;
    }

    .about-us-block {
        text-align: center;
    }

    .discount-l-top p:nth-child(2) {
        font-size: 134px;
    }

    .discount-l-top p:nth-child(1) {
        font-size: 42px;
    }

    .contact-section-bottom p, p.bold-p {
        font-size: 24px;
    }

    .no-desktop {
        display: table;
    }

    .no-desktop2 {
        display: block;
    }

    .contact-section-bottom .yellow-button {
        margin: auto;
    }

    footer {
        background-size: cover;
    }

    .discount-wrapper .yellow-button {
        margin: 40px auto auto;
    }

    .services-top .row {
        margin: 0;
    }
}

@media screen and (max-width: 460px) {
    section.banner-section {
        min-height: 1000px;

    }

    .contacts-top .social-networks-mb {
        display: flex;
        justify-content: center;
    }


    .contacts-top .social-networks-mb a {
        width: 40px;
        display: block;
    }

    .discount-l-top {
        flex-flow: column;
    }

    .discount-l-top p:nth-child(1) {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .discount-l-top p:nth-child(2) {
        font-size: 120px;
    }
}

