.corporate-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #212529;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .corporate-subtitle {
      font-size: 35px;
      line-height: 45px; } }

.corporate-first {
  padding: 40px 0;
  background-image: url("../images/corporat-first-bg-m.jpg");
  background-position: center center;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    .corporate-first {
      padding-top: 40px;
      padding-bottom: 35px; } }
  @media screen and (min-width: 1024px) {
    .corporate-first {
      background-image: url("../images/corporat-first-bg.jpg"); } }

.corporate-banner {
  position: relative;
  padding: 25px 20px 30px;
  max-width: 590px;
  background-color: #fff; }
  @media screen and (min-width: 768px) {
    .corporate-banner {
      padding: 30px; } }
  @media screen and (min-width: 1024px) {
    .corporate-banner {
      padding: 35px 40px 40px; } }
  .corporate-banner::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 30px;
    right: 30px;
    height: 20px;
    border-bottom: 1px dashed #2E9303;
    border-left: 1px dashed #2E9303;
    border-right: 1px dashed #2E9303; }
    @media screen and (min-width: 1024px) {
      .corporate-banner::after {
        top: 30px;
        bottom: 36px;
        right: -20px;
        left: unset;
        width: 17px;
        height: auto;
        border-top: 1px dashed #2E9303;
        border-left: none; } }
  .corporate-banner__title {
    margin: 0;
    text-align: left;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px; }
    .corporate-banner__title--marked {
      font-weight: 600;
      font-size: inherit;
      line-height: 50px;
      color: #2E9303;
      text-transform: uppercase; }
    @media screen and (min-width: 1024px) {
      .corporate-banner__title {
        margin-bottom: 10px;
        font-size: 43px;
        line-height: 50px; } }
  .corporate-banner__descr {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold; }
    @media screen and (min-width: 1024px) {
      .corporate-banner__descr {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 30px;
        font-weight: 400; } }
  .corporate-banner__additional {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 17px;
    color: #4C4C4C; }
    @media screen and (min-width: 1024px) {
      .corporate-banner__additional {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 23px; } }
  .corporate-banner__callback {
    width: 100%;
    max-width: 340px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 25px; }
    @media screen and (min-width: 1024px) {
      .corporate-banner__callback {
        font-size: 25px;
        line-height: 30px; } }

.corporate-second {
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .corporate-second {
      padding-top: 80px;
      padding-bottom: 0; } }
  @media screen and (min-width: 1024px) {
    .corporate-second__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .corporate-second__preview {
    width: 100%;
    max-width: 590px; }
    @media screen and (min-width: 768px) {
      .corporate-second__preview {
        max-width: unset; } }
    @media screen and (min-width: 1200px) {
      .corporate-second__preview {
        max-width: 590px;
        -ms-flex-negative: 0;
            flex-shrink: 0; } }
  .corporate-second__pic {
    width: 100%;
    height: auto; }
  .corporate-second__desc {
    position: relative;
    margin-top: -100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 10px;
    background-color: #F7F7F7; }
    @media screen and (min-width: 1024px) {
      .corporate-second__desc {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 0px; } }
    @media screen and (min-width: 1200px) {
      .corporate-second__desc {
        padding-top: 45px;
        padding-bottom: 70px;
        padding-left: 25px;
        padding-right: 40px; } }
    .corporate-second__desc::after {
      content: "";
      position: absolute;
      width: 50vw;
      height: 20px;
      right: -25px;
      bottom: -20px;
      border-bottom: 1px dashed #2E9303;
      border-left: 1px dashed #2E9303; }
      @media screen and (min-width: 768px) {
        .corporate-second__desc::after {
          width: 50%;
          right: unset;
          left: 0;
          border-right: 1px dashed #2E9303; } }
      @media screen and (min-width: 1024px) {
        .corporate-second__desc::after {
          border-left: none; } }
  .corporate-second__text {
    margin: 0;
    font-size: 13px;
    line-height: 22px;
    color: #4C4C4C;
    font-weight: bold; }
    .corporate-second__text + .corporate-second__text {
      margin-top: 22px; }
      @media screen and (min-width: 1024px) {
        .corporate-second__text + .corporate-second__text {
          margin-top: 22px; } }
    .corporate-second__text--black {
      color: #212529; }
    .corporate-second__text--thin {
      font-weight: 300; }
    .corporate-second__text--uper {
      text-transform: uppercase; }

.corporate-third {
  margin: 0;
  padding-top: 50px; }
  @media screen and (min-width: 1024px) {
    .corporate-third {
      padding-top: 70px; } }
  .corporate-third__title {
    margin-bottom: 30px; }
    @media screen and (min-width: 1024px) {
      .corporate-third__title {
        margin-bottom: 60px; } }
    .corporate-third__title--desktop {
      display: none; }
      @media screen and (min-width: 1024px) {
        .corporate-third__title--desktop {
          display: block; } }
    .corporate-third__title--mobile {
      display: block; }
      @media screen and (min-width: 1024px) {
        .corporate-third__title--mobile {
          display: none; } }
  @media screen and (min-width: 768px) {
    .corporate-third__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px; } }
  @media screen and (min-width: 1024px) {
    .corporate-third__list {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  .corporate-third__tile + .corporate-third__tile {
    padding-top: 15px; }
    @media screen and (min-width: 768px) {
      .corporate-third__tile + .corporate-third__tile {
        padding-top: unset; } }
    @media screen and (min-width: 1024px) {
      .corporate-third__tile + .corporate-third__tile {
        padding-top: unset; } }

.corporate-techniq {
  position: relative;
  height: 140px;
  padding: 13px 17px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px rgba(141, 141, 141, 0.25);
          box-shadow: 0px 0px 25px rgba(141, 141, 141, 0.25); }
  @media screen and (min-width: 1024px) {
    .corporate-techniq {
      height: 180px; } }
  .corporate-techniq__name {
    position: relative;
    z-index: 1;
    max-width: 225px;
    margin: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #212529;
    text-align: start; }
    @media screen and (min-width: 1024px) {
      .corporate-techniq__name {
        max-width: 205px;
        font-size: 18px;
        line-height: 25px; } }
  .corporate-techniq__preview {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 150px; }
    @media screen and (min-width: 1024px) {
      .corporate-techniq__preview {
        width: 140px; } }
  .corporate-techniq__pic {
    width: 100%;
    height: auto;
    max-height: 100px;
    -o-object-fit: contain;
       object-fit: contain; }
    @media screen and (min-width: 1024px) {
      .corporate-techniq__pic {
        max-height: 120px; } }

.corporate-fourth {
  padding-top: 40px;
  padding-bottom: 10px; }
  @media screen and (min-width: 1024px) {
    .corporate-fourth {
      padding-top: 40px;
      padding-bottom: 95px; } }
  .corporate-fourth__title {
    margin-bottom: 30px; }
    @media screen and (min-width: 1024px) {
      .corporate-fourth__title {
        margin-bottom: 50px; } }
  .corporate-fourth__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 40px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; }
    @media screen and (min-width: 768px) {
      .corporate-fourth__list {
        row-gap: 20px; } }
    @media screen and (min-width: 1024px) {
      .corporate-fourth__list {
        row-gap: 50px;
        -webkit-column-gap: 50px;
           -moz-column-gap: 50px;
                column-gap: 50px; } }
  .corporate-fourth__tile {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media screen and (min-width: 768px) {
      .corporate-fourth__tile {
        max-width: calc(25% - 20px); } }
    @media screen and (min-width: 1024px) {
      .corporate-fourth__tile {
        max-width: unset; } }

.corporate-client {
  margin: 0 auto;
  width: 160px; }
  @media screen and (min-width: 768px) {
    .corporate-client {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .corporate-client {
      width: 260px; } }
  .corporate-client__pic {
    width: 100%; }

.corporate-fifth {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F7F7F7; }
  @media screen and (min-width: 1024px) {
    .corporate-fifth {
      padding-top: 50px;
      padding-bottom: 85px; } }
  .corporate-fifth__title {
    margin-bottom: 35px; }
    @media screen and (min-width: 1024px) {
      .corporate-fifth__title {
        margin-bottom: 50px; } }

@media screen and (min-width: 768px) {
  .corporate-causes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 40px; } }

@media screen and (min-width: 1024px) {
  .corporate-causes {
    row-gap: 80px; } }

@media screen and (min-width: 768px) {
  .corporate-causes__item {
    -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px); } }

@media screen and (min-width: 1024px) {
  .corporate-causes__item {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%; } }

.corporate-causes__item + .corporate-causes__item {
  margin-top: 35px; }
  @media screen and (min-width: 768px) {
    .corporate-causes__item + .corporate-causes__item {
      margin-top: 0; } }

.corporate-cause__icon {
  display: block;
  margin: 0 auto 25px;
  width: 80px;
  height: 90px; }
  @media screen and (min-width: 1024px) {
    .corporate-cause__icon {
      width: auto;
      height: 90px; } }

.corporate-cause__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #212529; }
  @media screen and (min-width: 1024px) {
    .corporate-cause__title {
      font-size: 26px;
      line-height: 30px; } }

.corporate-cause__descr {
  margin: 0;
  padding: 0 10px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #4C4C4C; }
  @media screen and (min-width: 1024px) {
    .corporate-cause__descr {
      padding: 0;
      font-size: 18px;
      line-height: 23px; } }

.corporate-sixth {
  padding-top: 50px; }
  @media screen and (min-width: 1024px) {
    .corporate-sixth {
      padding-top: 85px; } }
  .corporate-sixth__title {
    margin-bottom: 30px; }
    @media screen and (min-width: 1024px) {
      .corporate-sixth__title {
        margin-bottom: 54px; } }

@media screen and (min-width: 768px) {
  .corporate-process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px; } }

@media screen and (min-width: 1024px) {
  .corporate-process {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 50px; } }

@media screen and (min-width: 768px) {
  .corporate-process__item {
    -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px); } }

@media screen and (min-width: 1024px) {
  .corporate-process__item {
    -ms-flex-preferred-size: 390px;
        flex-basis: 390px; } }

.corporate-process__item + .corporate-process__item {
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .corporate-process__item + .corporate-process__item {
      margin-top: 0; } }

.corporate-step__number {
  position: relative;
  margin-bottom: 30px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  text-align: center;
  background-image: url(../images/corporate-process-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1024px) {
    .corporate-step__number {
      font-size: 48px; } }
  .corporate-step__number::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 15px;
    right: 15px;
    height: 10px;
    border-bottom: 1px dashed #2E9303;
    border-left: 1px dashed #2E9303;
    border-right: 1px dashed #2E9303; }
  .corporate-step__number::after {
    content: "";
    position: absolute;
    bottom: -44px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 13px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='33' viewBox='0 0 13 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='6.5' y1='24' x2='6.5' y2='5' stroke='%232E9303'/%3E%3Ccircle cx='6.5' cy='26.5' r='5' transform='rotate(90 6.5 26.5)' fill='%232E9303' stroke='white' stroke-width='3'/%3E%3Ccircle cx='6.5' cy='5.5' r='4' transform='rotate(90 6.5 5.5)' fill='%232E9303' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A"); }

.corporate-step__descr {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #2E9303; }
  @media screen and (min-width: 768px) {
    .corporate-step__descr {
      height: 160px; } }
  @media screen and (min-width: 1024px) {
    .corporate-step__descr {
      height: 180px; } }

.corporate-step__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #212529; }
  @media screen and (min-width: 1024px) {
    .corporate-step__name {
      margin-bottom: 20px;
      font-size: 19px;
      line-height: 25px; } }

.corporate-step__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  color: #4C4C4C; }
  @media screen and (min-width: 1024px) {
    .corporate-step__text {
      font-size: 17px;
      line-height: 25px; } }
  .corporate-step__text a {
    color: #212529;
    text-decoration: none; }

.corporate-seventh {
  padding-top: 50px; }
  @media screen and (min-width: 1024px) {
    .corporate-seventh {
      padding-top: 90px; } }
  .corporate-seventh__title {
    margin-bottom: 25px; }
    @media screen and (min-width: 1024px) {
      .corporate-seventh__title {
        margin-bottom: 50px; } }

.corporate-slider {
  position: relative; }
  .corporate-slider .owl-stage-outer {
    overflow: hidden; }
  .corporate-slider .owl-next,
  .corporate-slider .owl-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    color: transparent;
    background-image: url("../images/arrow.png");
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .corporate-slider .owl-next,
      .corporate-slider .owl-prev {
        width: 40px;
        height: 40px; } }
  .corporate-slider .owl-prev {
    left: -7px; }
    @media screen and (min-width: 768px) {
      .corporate-slider .owl-prev {
        left: -20px; } }
  .corporate-slider .owl-next {
    right: -7px;
    -webkit-transform: rotate(180deg) translate(0, 50%);
        -ms-transform: rotate(180deg) translate(0, 50%);
            transform: rotate(180deg) translate(0, 50%); }
    @media screen and (min-width: 768px) {
      .corporate-slider .owl-next {
        right: -20px; } }
  .corporate-slider .owl-dots {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; }
  .corporate-slider .owl-dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9; }
    .corporate-slider .owl-dot.active {
      width: 22px;
      height: 22px;
      background-color: #869971; }

.corporate-feedback {
  padding: 25px;
  padding-bottom: 20px;
  border: 1px solid #2E9303;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/corporate-feedback-bg.jpg"); }
  @media screen and (min-width: 1024px) {
    .corporate-feedback {
      padding: 35px; } }
  .corporate-feedback__icon {
    display: block;
    margin-bottom: 15px;
    width: 40px; }
    @media screen and (min-width: 1024px) {
      .corporate-feedback__icon {
        width: 70px;
        margin-bottom: 25px; } }
  .corporate-feedback__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 18px;
    color: #4C4C4C; }
    @media screen and (min-width: 1024px) {
      .corporate-feedback__text {
        font-size: 17px;
        line-height: 25px; } }
  @media screen and (min-width: 1024px) {
    .corporate-feedback__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-flow: row-reverse nowrap;
              flex-flow: row-reverse nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .corporate-feedback__author {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #212529; }
    @media screen and (min-width: 1024px) {
      .corporate-feedback__author {
        font-size: 18px; } }
  .corporate-feedback__date {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: #939393; }
    @media screen and (min-width: 1024px) {
      .corporate-feedback__date {
        font-size: 16px; } }

.corporate-eighth {
  padding-top: 40px;
  padding-bottom: 35px; }
  @media screen and (min-width: 1024px) {
    .corporate-eighth {
      padding-top: 90px;
      padding-bottom: 80px; } }
  .corporate-eighth__title {
    margin-bottom: 30px; }
    @media screen and (min-width: 1024px) {
      .corporate-eighth__title {
        margin-bottom: 40px; } }

.corporate-call {
  -webkit-box-shadow: 0px 5px 50px rgba(147, 147, 147, 0.25);
          box-shadow: 0px 5px 50px rgba(147, 147, 147, 0.25); }
  @media screen and (min-width: 1024px) {
    .corporate-call {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 1200px) {
    .corporate-call {
      -webkit-column-gap: 40px;
         -moz-column-gap: 40px;
              column-gap: 40px; } }
  .corporate-call__form {
    padding: 15px; }
    @media screen and (min-width: 1024px) {
      .corporate-call__form {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        padding: 20px;
        padding-right: 0px; } }
    @media screen and (min-width: 1200px) {
      .corporate-call__form {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 50px; } }
    .corporate-call__form .error {
      margin: 0; }

@media screen and (min-width: 1024px) {
  .corporate-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; } }

.corporate-form__label {
  display: block;
  margin: 0; }
  .corporate-form__label + .corporate-form__label {
    margin-top: 15px; }
    @media screen and (min-width: 1024px) {
      .corporate-form__label + .corporate-form__label {
        margin: 0; } }

.corporate-form__name {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 23px;
  color: #212529; }
  @media screen and (min-width: 1024px) {
    .corporate-form__name {
      font-size: 17px; } }

.corporate-form__input {
  display: block;
  width: 100%;
  padding: 0px 10px;
  font-size: 18px;
  line-height: 75px;
  color: #212529;
  background: #fff;
  border: 1px solid #DFDEDD;
  border-radius: 10px; }

.corporate-form__submit {
  display: block;
  margin-top: 30px;
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .corporate-form__submit {
      height: 75px; } }

@media screen and (min-width: 1024px) {
  .corporate-info-call {
    max-width: 470px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

@media screen and (min-width: 1200px) {
  .corporate-info-call {
    max-width: 520px; } }

.corporate-info-call__preview--mobile {
  display: block; }
  @media screen and (min-width: 1024px) {
    .corporate-info-call__preview--mobile {
      display: none; } }

.corporate-info-call__preview--desktop {
  display: none; }
  @media screen and (min-width: 1024px) {
    .corporate-info-call__preview--desktop {
      display: block; } }

.corporate-info-call__pic {
  width: 100%; }

.corporate-nineth {
  padding-top: 60px; }
  @media screen and (min-width: 1024px) {
    .corporate-nineth {
      padding-top: 85px; } }
  .corporate-nineth__title {
    margin-bottom: 15px; }
    @media screen and (min-width: 1024px) {
      .corporate-nineth__title {
        margin-bottom: 60px; } }

@media screen and (min-width: 1024px) {
  .corporate-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px; } }

.corporate-contacts__descr {
  padding-bottom: 30px; }

.corporate-contacts__item + .corporate-contacts__item {
  margin-top: 30px; }
  @media screen and (min-width: 1024px) {
    .corporate-contacts__item + .corporate-contacts__item {
      margin-top: 40px; } }

.corporate-contacts__map {
  display: block;
  width: 100%;
  height: 290px; }
  @media screen and (min-width: 1024px) {
    .corporate-contacts__map {
      max-width: 795px;
      height: 475px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }

.corporate-contacts__iframe {
  width: 100%;
  height: 100%; }

.corporate-contact {
  margin: 0;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .corporate-contact {
      text-align: start; } }
  .corporate-contact__name {
    display: block;
    font-size: 18px;
    line-height: 23px;
    color: #4C4C4C; }
  .corporate-contact__item {
    display: block;
    margin: 0;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    line-height: 28px; }
    @media screen and (min-width: 1024px) {
      .corporate-contact__item {
        font-size: 20px; } }
