$green: #2E9303;
$black: #212529;
$grey: #4C4C4C;
$lightgrey: #F7F7F7;
$white: #fff;
$trans: 0.3s ease-in all;
$large: "min-width:"+1900px;
$desctop: "min-width:"+1640px;
$medium: "min-width:"+1200px;
$notebook: "min-width:"+1024px;
$tablet: "min-width:"+768px;


@mixin flex($dir: row, $wrap: nowrap, $just: space-between, $align: center){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}

:root{ 
    @media screen and ($tablet) {
    }
    @media screen and ($notebook) {
    }
    @media screen and ($medium) {
    }
    @media screen and ($desctop) {
    }
    @media screen and ($large) {
    }
}
