.corporate-eighth{
    padding-top: 40px;
    padding-bottom: 35px;
    @media screen and ($notebook) {
        padding-top: 90px;
        padding-bottom: 80px;
    }
    &__title{
        margin-bottom: 30px;
        @media screen and ($notebook) {
            margin-bottom: 40px;
        }
    }
}
.corporate-call{
    box-shadow: 0px 5px 50px rgba(147, 147, 147, 0.25);
    @media screen and ($notebook) {
        @include flex(row, nowrap, flex-start, center);
    }
    @media screen and ($medium) {
        column-gap: 40px;
    }
    &__form{
        padding: 15px;
        @media screen and ($notebook) {
            flex-grow: 1;
            padding: 20px;
            padding-right: 0px;
        }
        @media screen and ($medium) {
            padding-top: 40px;
            padding-bottom: 30px;
            padding-left: 50px;
        }
        .error{
            margin: 0;
        }
    }
}
.corporate-form{
    @media screen and ($notebook) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    &__label{
        display: block;
        margin: 0;
        & + &{
            margin-top: 15px;
            @media screen and ($notebook) {
                margin: 0;
            }
        }
    }
    &__name{
        display: block;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 23px;
        color: $black;
        @media screen and ($notebook) {
            font-size: 17px;
        }
    }
    &__input{
        display: block;
        width: 100%;
        padding: 0px 10px;
        font-size: 18px;
        line-height: 75px;
        color: $black;
        background: $white;
        border: 1px solid #DFDEDD;
        border-radius: 10px;
    }
    &__submit{
        display: block;
        margin-top: 30px;
        width: 100%;
        text-align: center;
        @media screen and ($notebook) {
            height: 75px;
        }
    }
}
.corporate-info-call{
    @media screen and ($notebook) {
        max-width: 470px;
        flex-grow: 1;
    }
    @media screen and ($medium) {
        max-width: 520px;
    }
    &__preview{
        &--mobile{
            display: block;
            @media screen and ($notebook) {
                display: none;
            }
        }
        &--desktop{
            display: none;
            @media screen and ($notebook) {
                display: block;
            }
        }
    }
    &__pic{
        width: 100%;
    }

}