.corporate-fifth{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $lightgrey;
    @media screen and ($notebook) {
        padding-top: 50px;
        padding-bottom: 85px;
    }
    &__title{
        margin-bottom: 35px;
        @media screen and ($notebook) {
            margin-bottom: 50px;
        }
    }
}
.corporate-causes{
    @media screen and ($tablet) {
        @include flex(row, wrap, space-between, flex-start);
        column-gap: 20px;
        row-gap: 40px;
    }
    @media screen and ($notebook) {
        row-gap: 80px;
    }
    &__item{
        @media screen and ($tablet) {
            flex-basis: calc(50% - 10px);
        }
        @media screen and ($notebook) {
            flex-basis: 31%;
        }
        & + &{
            margin-top: 35px;
            @media screen and ($tablet) {
                margin-top: 0;
            }
        }
    }
}
.corporate-cause{
    &__icon{
        display: block;
        margin: 0 auto 25px;
        width: 80px;
        height: 90px;
        @media screen and ($notebook) {
            width: auto;
            height: 90px;
        }
    }
    &__title{
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: $black;
        @media screen and ($notebook) {
            font-size: 26px;
            line-height: 30px;
        }
    }
    &__descr{
        margin: 0;
        padding: 0 10px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $grey;
        @media screen and ($notebook) {
            padding: 0;
            font-size: 18px;
            line-height: 23px;
        }
    }
}