.corporate-first{
    padding: 40px 0;
    background-image: url("../images/corporat-first-bg-m.jpg");
    background-position: center center;
    background-size: cover;
    @media screen and ($tablet) {
        padding-top: 40px;
        padding-bottom: 35px;
    }
    @media screen and ($notebook) {
        background-image: url("../images/corporat-first-bg.jpg");

    }
}
.corporate-banner{
    position: relative;
    padding: 25px 20px 30px;
    max-width: 590px;
    background-color: $white;
    @media screen and ($tablet) {
        padding: 30px;
    }
    @media screen and ($notebook) {
        padding: 35px 40px 40px;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -20px;
        left: 30px;
        right: 30px;
        height: 20px;
        border-bottom: 1px dashed $green;
        border-left: 1px dashed $green;
        border-right: 1px dashed $green;
        @media screen and ($notebook) {
            top: 30px;
            bottom: 36px;
            right: -20px;
            left: unset;
            width: 17px;
            height: auto;
            border-top: 1px dashed $green;
            border-left: none;
        }

    }
    &__title{
        margin: 0;
        text-align: left;
        font-weight: 700;
        font-size: 34px;
        line-height: 50px;
        &--marked{
            font-weight: 600;
            font-size: inherit;
            line-height: 50px;
            color: $green;
            text-transform: uppercase;
        }
        @media screen and ($notebook) {
            margin-bottom: 10px;
            font-size: 43px;
            line-height: 50px;
        }
    }
    &__descr{
        margin: 0;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 23px;
        font-weight: bold;
        @media screen and ($notebook) {
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 30px;
            font-weight: 400;
        }
    }
    &__additional{
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 17px;
        color: $grey;
        @media screen and ($notebook) {
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 23px;
        }
    }
    &__callback{
        width: 100%;
        max-width: 340px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 20px;
        line-height: 25px;
        @media screen and ($notebook) {
            font-size: 25px;
            line-height: 30px;
        }
    }
}
