.corporate-fourth{
    padding-top: 40px;
    padding-bottom: 10px;
    @media screen and ($notebook) {
        padding-top: 40px;
        padding-bottom: 95px;
    }
    &__title{
        margin-bottom: 30px;
        @media screen and ($notebook) {
            margin-bottom: 50px;
        }
    }
    &__list{
        @include flex(row, wrap, space-between, flex-start);
        row-gap: 40px;
        column-gap: 20px;
        @media screen and ($tablet) {
            row-gap: 20px;
        }
        @media screen and ($notebook) {
            row-gap: 50px;
            column-gap: 50px;
        }
    }
    &__tile{
        flex-grow: 1;
        @media screen and ($tablet) {
            max-width: calc(25% - 20px);
        }
        @media screen and ($notebook) {
            max-width: unset;
        }
    }
}
.corporate-client{
    margin: 0 auto;
    width: 160px;
    @media screen and ($tablet) {
        width: 100%;
    }
    @media screen and ($notebook) {
        width: 260px;
    }
    &__pic{
        width: 100%;
    }
}