.corporate-nineth{
    padding-top: 60px;
    @media screen and ($notebook) {
        padding-top: 85px;
    }
    &__title{
        margin-bottom: 15px;
        @media screen and ($notebook) {
            margin-bottom: 60px;
        }
    }
}
.corporate-contacts{
    @media screen and ($notebook) {
        @include flex(row-reverse, nowrap, flex-end, center);
        column-gap: 90px;
    }
    &__descr{
        padding-bottom: 30px;
    }
    &__item{
        & + &{
            margin-top: 30px;
            @media screen and ($notebook) {
                margin-top: 40px;
            }
            
        }
    }
    &__map{
        display: block;
        width: 100%;
        height: 290px;
        @media screen and ($notebook) {
            max-width: 795px;
            height: 475px;
            flex-grow: 1;
        }
    }
    &__iframe{
        width: 100%;
        height: 100%;
    }
}
.corporate-contact{
    margin: 0;
    text-align: center;
    @media screen and ($notebook) {
        text-align: start;
    }
    &__name{
        display: block;
        font-size: 18px;
        line-height: 23px;
        color: $grey;
        @media screen and ($notebook) {

        }
    }
    &__item{
        display: block;
        margin: 0;
        color: #000;
        text-decoration: none;
        font-size: 22px;
        line-height: 28px;
        @media screen and ($notebook) {
            font-size: 20px;
        }
    }
}
