.corporate-second{
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: hidden;
    @media screen and ($notebook) {
        padding-top: 80px;
        padding-bottom: 0;
    }
    &__container{
        @media screen and ($notebook) {
            @include flex(row, nowrap, flex-start, flex-start);
        }
    }
    &__preview{
        width: 100%;
        max-width: 590px;
        @media screen and ($tablet) {
            max-width: unset;
        }
        @media screen and ($medium) {
            max-width: 590px;
            flex-shrink: 0;
        }
    }
    &__pic{
        width: 100%;
        height: auto;
    }
    &__desc{
        position: relative;
        margin-top: -100px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px 10px;
        background-color: $lightgrey;
        @media screen and ($notebook) {
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 0px;
        }
        @media screen and ($medium) {
            padding-top: 45px;
            padding-bottom: 70px;
            padding-left: 25px;
            padding-right: 40px;
        }
        &::after{
            content: "";
            position: absolute;
            width: 50vw;
            height: 20px;
            right: -25px;
            bottom: -20px;
            border-bottom: 1px dashed $green;
            border-left: 1px dashed $green;
            @media screen and ($tablet) {
                width: 50%;
                right: unset;
                left: 0;
                border-right: 1px dashed $green;
            }
            @media screen and ($notebook) {
                border-left: none;
            }
        }
    }
    &__text{
        margin: 0;
        font-size: 13px;
        line-height: 22px;
        color: $grey;
        font-weight: bold;
        & + &{
            margin-top: 22px;
            @media screen and ($notebook) {
                margin-top: 22px;
            }
        }
        &--black{
            color: $black;
        }
        &--thin{
            font-weight: 300;
        }
        &--uper{
            text-transform: uppercase;
        }
    }
}