.corporate-seventh{
    padding-top: 50px;
    @media screen and ($notebook) {
        padding-top: 90px;
    }
    &__title{
        margin-bottom: 25px;
        @media screen and ($notebook) {
            margin-bottom: 50px;
        }
    }
}
.corporate-slider{
    position: relative;
    // padding: 0 10px;
    .owl-stage-outer{
        overflow: hidden;
    }
    .owl-next,
    .owl-prev{
        position: absolute;
        top: 50%;
        z-index: 5;
        transform: translate(0, -50%);
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        color: transparent;
        background-image: url("../images/arrow.png");
        background-size: cover;
        @media screen and ($tablet) {
            width: 40px;
            height: 40px;
        }
        
    }
    .owl-prev{
        left: -7px;
        @media screen and ($tablet) {
            left: -20px;
        }
    }
    .owl-next{
        right: -7px;
        transform: rotate(180deg) translate(0, 50%);
        @media screen and ($tablet) {
            right: -20px;
        }
    }
    .owl-dots{
        padding-top: 20px;
        @include flex(row, nowrap, center, center);
        column-gap: 20px;
    }
    .owl-dot{
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: none;
        background-color: #D9D9D9;
        &.active{
            width: 22px;
            height: 22px;
            background-color: #869971;
        }
    }
}
.corporate-feedback{
    padding: 25px;
    padding-bottom: 20px;
    border: 1px solid $green;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/corporate-feedback-bg.jpg");
    @media screen and ($notebook) {
        padding: 35px;
    }
    &__icon{
        display: block;
        margin-bottom: 15px;
        width: 40px;
        @media screen and ($notebook) {
            width: 70px;
            margin-bottom: 25px;
        }
    }
    &__text{
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 18px;
        color: $grey;
        @media screen and ($notebook) {
            font-size: 17px;
            line-height: 25px;
        }
    }
    &__info{
        @media screen and ($notebook) {
            @include flex(row-reverse, nowrap, space-between, center);
        }
    }
    &__author{
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        @media screen and ($notebook) {
            font-size: 18px;
        }
    }
    &__date{
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        color: #939393;
        @media screen and ($notebook) {
            font-size: 16px;
        }
    }
}