.corporate-sixth{
    padding-top: 50px;
    @media screen and ($notebook) {
        padding-top: 85px;
    }
    &__title{
        margin-bottom: 30px;
        @media screen and ($notebook) {
            margin-bottom: 54px;
        }
    }
}
.corporate-process{
    @media screen and ($tablet) {
        @include flex(row, wrap, center, flex-start);
        column-gap: 20px;
        row-gap: 20px;
    }
    @media screen and ($notebook) {
        column-gap: 20px;
        row-gap: 50px;
    }
    @media screen and ($medium) {
    }
    &__item{
        @media screen and ($tablet) {
            flex-basis: calc(50% - 10px);
        }
        @media screen and ($notebook) {
            flex-basis: 390px;
        }
        & + &{
            margin-top: 20px;
            @media screen and ($tablet) {
                margin-top: 0;
            }
        }
    }
}
.corporate-step{
    &__number{
        position: relative;
        margin-bottom: 30px;
        width: 75px;
        height: 75px;
        line-height: 75px;
        font-weight: 900;
        font-size: 48px;
        color: $white;
        text-align: center;
        background-image: url(../images/corporate-process-bg.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and ($notebook) {
            font-size: 48px;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: -10px;
            left: 15px;
            right: 15px;
            height: 10px;
            border-bottom: 1px dashed $green;
            border-left: 1px dashed $green;
            border-right: 1px dashed $green;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: -44px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 13px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='33' viewBox='0 0 13 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='6.5' y1='24' x2='6.5' y2='5' stroke='%232E9303'/%3E%3Ccircle cx='6.5' cy='26.5' r='5' transform='rotate(90 6.5 26.5)' fill='%232E9303' stroke='white' stroke-width='3'/%3E%3Ccircle cx='6.5' cy='5.5' r='4' transform='rotate(90 6.5 5.5)' fill='%232E9303' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
        }
    }
    &__descr{
        padding: 15px;
        background-color: $white;
        border: 1px solid $green;
        @media screen and ($tablet) {
            height: 160px;
        }
        @media screen and ($notebook) {
            height: 180px;
        }
    }
    &__name{
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: $black;
        @media screen and ($notebook) {
            margin-bottom: 20px;
            font-size: 19px;
            line-height: 25px;
        }
    }
    &__text{
        margin: 0;
        font-size: 13px;
        line-height: 18px;
        font-weight: 300;
        color: $grey;
        @media screen and ($notebook) {
            font-size: 17px;
            line-height: 25px;
        }
        a{
            color: $black;
            text-decoration: none;
        }
    }
}