.corporate-third{
    margin: 0;
    padding-top: 50px;
    // font-weight: 700;
    // font-size: 24px;
    // line-height: 30px;
    // text-align: center;
    @media screen and ($notebook) {
        padding-top: 70px;
        // font-weight: 700;
        // font-size: 36px;
        // line-height: 45px;
    }
    &__title{
        margin-bottom: 30px;
        @media screen and ($notebook) {
            margin-bottom: 60px;
        }
        &--desktop{
            display: none;
            @media screen and ($notebook) {
                display: block;
            }
        }
        &--mobile{
            display: block;
            @media screen and ($notebook) {
                display: none;
            }
        }
    }
    &__list{
        @media screen and ($tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        @media screen and ($notebook) {
            // @include flex(row, wrap, flex-start, flex-start);
            grid-template-columns: 1fr 1fr 1fr 1fr;

        }
    }
    &__tile{
        & + &{
            padding-top: 15px;
            @media screen and ($tablet) {
                padding-top: unset;
            }
            @media screen and ($notebook) {
                padding-top: unset;
            }
        }
    }
}
.corporate-techniq{
    position: relative;
    height: 140px;
    padding: 13px 17px;
    background-color: $white;
    box-shadow: 0px 0px 25px rgba(141, 141, 141, 0.25);
    @media screen and ($notebook) {
        height: 180px;
    }
    &__name{
        position: relative;
        z-index: 1;
        max-width: 225px;
        margin: 0;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        color: $black;
        text-align: start;
        @media screen and ($notebook) {
            max-width: 205px;
            font-size: 18px;
            line-height: 25px;
        }
    }
    &__preview{
        position: absolute;
        right: 10px;
        bottom: 5px;
        width: 150px;
        @media screen and ($notebook) {
            width: 140px;
        }
    }
    &__pic{
        width: 100%;
        height: auto;
        max-height: 100px;
        object-fit: contain;
        @media screen and ($notebook) {
            max-height: 120px;
        }
    }
}