.corporate-subtitle{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $black;
    text-align: center;
    @media screen and ($notebook) {
        font-size: 35px;
        line-height: 45px;
    }
}